// 自定义按钮
.el-button--gradient {
    background: linear-gradient(90deg,rgba(241,194,147,1),rgba(253,160,133,1));
    font-size: 14px;
    color: #fff;
    padding: 11px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 600ms ease all;
    position: relative;
    display: inline-block;
    &:hover,
    &:focus {
      color:#fff;
      opacity: .7;
    }
  
    &:active {
      color:#fff;
      opacity: .9;
    }
}
// 自定义--蓝色--批量操作
.el-button--bath {
  background: #8DC3FD;
  border-radius: 5px;
  color: #fff;
  &:hover {
    color:#fff;
    background: #8DC3FD;
  }
}

